<div [routerLink]="['/products', product.id.toString()]" class="product--card__container mb-4">
  <img class="product--card__image" [src]="product.coverImageUrl" alt="Card image cap">
  <div class="container-fluid row product--card__content" style="background-color: transparent;">
    <h3 class="col-12 product--card__name">{{product.name}}</h3>
    <p class="col-12 product--card__description">{{product.description | slice:0:100}}...</p>
  </div>
  <div class="container product--card__price">
    <h4 class="product--card__discount">
      <span class="badge bg-danger">-{{product.discount}}%</span>
    </h4>
      <div>
        <span class="product--price--currency">$</span>
        <span class="product--price--value">{{product.price | number:'1.2-2'}}</span>
      </div>
  </div>
</div>
