@import '../../../shared/styles/global.scss';

.store--card__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}

.store--card__image:hover {
  opacity: 0.8;
}

.store--card__title {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store--card__title > h3 {
  color: $white;
}

