<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5">
              <app-carousel></app-carousel>
            </div>
            <div class="col-md-7">
              <h1>{{product.name}}</h1>
              <p>{{product.description}}</p>
              <h4>{{product.price | currency:'USD':true}}</h4>
              <button class="btn btn-success" (click)="addToCart()">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Add to cart
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
