<div class="container-fluid my-4 banner--container d-none d-xl-flex d-lg-flex d-md-flex">
  <div class="row h-50">
    <div class="col-2 offset-2 d-flex justify-content-center align-items-center" >
      <div class="banner--icon__container">
        <mat-icon [inline]="true" class="banner--icon">ads_click</mat-icon>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <div class="banner--icon__container">
        <mat-icon [inline]="true" class="banner--icon">local_shipping</mat-icon>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <div class="banner--icon__container">
        <mat-icon [inline]="true" class="banner--icon">place</mat-icon>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <div class="banner--icon__container">
        <mat-icon [inline]="true" class="banner--icon">vpn_lock</mat-icon>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-2 d-flex justify-content-center align-items-start">
      <div class="banner--icon__container">
        <h4>A un solo click</h4>
        <p>Compra en menor tiempo</p>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-start">
      <div class="banner--icon__container">
        <h4>Entrega garantizada</h4>
        <p>Servicio de delivery</p>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-start">
      <div class="banner--icon__container">
        <h4>Multipick</h4>
        <p>A un solo valor</p>
      </div>
    </div>
    <div class="col-2 d-flex justify-content-center align-items-start">
      <div class="banner--icon__container">
        <h4>Compra segura</h4>
        <p>Vendedores calificados</p>
      </div>
    </div>
  </div>
</div>
