@import '../../../shared/styles/global.scss';

.news--card__container {
  background-color: $black;
  cursor: pointer;
}

.newsCard--title {
  font-size: 1rem;
  font-weight: bold;
}

button {
  background-color: $red;
  font-size: 1em;
}

.modal--container {
  background-color: $dark;
}

.modal-header, .modal-footer{
  border: none;
}
