@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import './src/app/shared/styles/global.scss';

* {
  font-family: 'Lato', sans-serif;
  color: $white;
}

body{
  background-color: $background-color;
}

a{
  color: $link-color;
  text-decoration: none !important;
}

h1 {
  color: $red;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

h2 {
  color: $red;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 700;
}

h3 {
  color: $red;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
}

h4 {
  color: $dark;
  font-size: 1.5em;
  margin-bottom: 0;
  font-weight: 700;
}

.pac-container {
  background-color: $black !important;
  color: $white !important;
  border: none;
}

.pac-item {
  padding: 10px 4px;
  cursor: pointer;
  color: $white;
  border: none;
  border-bottom: 1px solid $gray;
}

.pac-matched {
  font-weight: 700;
  color: $red;
}

.pac-item-query {
  font-size: 13px;
  color: $white;
  padding-right: 3px;
}

.pac-item:hover .pac-matched, .pac-item-selected .pac-matched {
  font-weight: 700;
  color: $white;
}

.pac-item:hover, .pac-item:active, .pac-item:focus, .pac-item-selected, .pac-item-selected:hover, .pac-item-selected:active, .pac-item-selected:focus {
  background-color: $red;
  color: white;
}

.gmnoprint a, .gmnoprint span {
  display:none;
}

.gmnoprint div {
  background:none !important;
}

#GMapsID div div a div img{
  display:none;
}